@import url("navbar.css");

html, body {
  width: 100%;
  height: 100%;
}

h1, h4 {
  font-weight: 700;
}

.winter {
  font-weight: 400;
}

.before-p {
  margin-bottom: 5px;
}

body {
  /* Default to system font if custom font not supported */
  font-family:  "Lato", sans-serif;
  background-color: rgb(128, 128, 128);
  box-shadow: inset 0 0 0 100vmax rgba(0, 0, 0, 0.0); 
  color: rgb(7, 7, 7);
}

.body-index {
  box-shadow: inset 0 0 0 100vmax rgba(0, 0, 0, 0.0); /* makes every background except for the home page a little bit dimmer than the normal image*/
}

.full-page {
  position: absolute;
  height: calc(100% - 140px); /* the full width of the page minus the size of the header (50px), the size of the footer (50 px), the size of top padding (20px) and the size of bottom padding (20px) */
  width: 100%;
  z-index: -1;
  margin-left: auto;
  margin-right: auto;
  box-shadow: inset 0 0 0 100vmax rgb(216, 209, 209);
}

.pages {
  position: relative;
  z-index: 10;
  width:100%;
  box-shadow: inset 0 0 0 100vmax rgb(216, 209, 209);
  margin-left: auto;
  margin-right: auto;
  padding: 5%;
  border-radius: 0px;
  height: auto; 
}

#home {
  color: white;
  text-align: center;
  -webkit-text-stroke: 0px black;

  display: flex;
  flex-direction: column;
}
/* Code for all fade in? */
#title1 {
  opacity: 0;
  animation: fade-in 0.8s ease;
  animation-fill-mode: forwards;
}

#title2 {
  opacity: 0;
  animation: fade-in 0.8s ease;
  animation-delay: 0.8s;
  animation-fill-mode: forwards;
}

#title3 {
  opacity: 0;
  animation: fade-in 0.8s ease;
  animation-delay: 1.6s;
  animation-fill-mode: forwards;
}

.winter, #button-main, #button-learn-more {
  opacity: 0;
  animation: fade-in 1.6s ease-in; /* I thought the longer animation looked better for here */
  animation-delay: 2.4s;
  animation-fill-mode: forwards;
}

@keyframes fade-in {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

/* Code for slide down animation? 
#home h1 {
  animation: slide-down 2s ease;
}

#home h4, #home a {
  opacity: 0;
  animation: fade-in 2s ease-in-out;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

@keyframes slide-down {
  0% {margin-top: -100%;}
  100% {margin-top: 0%;}
}*/

#button-main {
  color: white;
  transition: all ease 0.4s;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.65);

  background-image: linear-gradient(to left, rgb(13, 20, 28), rgb(0, 105, 62), rgb(71, 136, 109), rgb(18, 49, 43));
  background-size: 300%;
  background-position: 0 0;
}

#button-main:hover {
  margin-top: 5px;
  margin-bottom: -5px;
  box-shadow: none;
  opacity: 0.9;

  background-position: 99% 0;
}

#button-main:active {
  opacity: 0.5;
}

#button-learn-more {
  color: white;
}

#button-learn-more:hover {
  color: rgb(24, 64, 56);
}

.section-title {
  color: blue;
}

#footer {
  position: relative;
  bottom: 0;
  height: 50px;
  font-family: 'Open Sans', sans-serif;
  color: #FFFFFF;
}