{% extends "base.html" %}

{% block content %}
        <div class="pages">
            <div class="width">
                <h1>Registration Info</h1>
                <div style="margin-bottom: 12px;">
                    <p>The Division C (high school) tournament being held on February 21, 2026
                        is now open for registration by coaches!</p>
                    <ul>
                        <li>The fee per team is $90.</li>
                        <li>Invoices will be provided at a later date.</li>
                        <li>Be sure to check the <a href="info.html">Tournament Info</a> page for important forms and other information.</li>
                        <li>Registration is rolling and capped at 25 teams.</li>
                        <li>After the registration limit has been reached, teams will be placed on a waitlist.</li>
                        <li>A school is limited to two teams, but is up to our discretion.</li>
                        <li>Teams from Vermont and New Hampshire will be prioritized in registration.</li>
                    </ul>
                </div>
                <!--b>Registration will be available soon, please stay tuned!</b-->
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSc_2mwrn1P7Npjex_XZYn_lLEvIlYRE2ynGn1rSNgl8XNpT0Q/viewform" 
                class="btn" id="button-main" style="animation-delay: 0s; animation: 0s;" target="_blank">
                    REGISTRATION FORM
                </a>
            </div>
        </div>
{% endblock %}